<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HSSudoku2.Starting"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/game_services_project_id" />

        <activity
            android:name=".feature.MainActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.level.LevelActivity"
            android:exported="true"
            android:label="" />


        <activity android:name=".feature.play.SinglePlayActivity" />

        <activity android:name=".feature.challenge.ChallengePlayActivity" />

        <activity android:name=".feature.play.WithCPUPlayActivity" />

        <activity android:name=".feature.battle.BattleCreateActivity" />

        <activity
            android:name=".feature.battle.BattlePlayActivity"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.MainActivity" />
        </activity>

    </application>

</manifest>