<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- For apps targeting Android 13 or higher & GMA SDK version 20.3.0 or lower -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HSSudoku2.Starting"
        tools:targetApi="31">

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming notification message. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/gray_700" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ads_application_id" />

        <meta-data
            android:name="kr.co.hs.sudoku.adUnitId.OpenAd"
            android:value="@string/ads_unit_id_opening" />

        <meta-data
            android:name="kr.co.hs.sudoku.adUnitId.NativeAd"
            android:value="@string/ads_unit_id_item" />

        <meta-data
            android:name="kr.co.hs.sudoku.adUnitId.NativeAdForStage"
            android:value="@string/ads_unit_id_native_ad_for_stage" />

        <meta-data
            android:name="kr.co.hs.sudoku.adUnitId.BannerAdSinglePlay"
            android:value="@string/ads_unit_id_banner_ad_for_single_play" />

        <meta-data
            android:name="kr.co.hs.sudoku.adUnitId.RewardAdChallengeRetry"
            android:value="@string/ads_unit_id_reward_ad_for_challenge_retry" />

        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/game_services_project_id" />

        <meta-data
            android:name="kr.co.hs.sudoku.messaging.serverKey"
            android:value="@string/cloud_messaging_server_key" />

        <activity
            android:name=".feature.MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.single.play.SinglePlayActivity"
            android:label="@string/title_single_play"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.MainActivity" />
        </activity>

        <activity
            android:name=".feature.multi.MultiPlayCreateActivity"
            android:label=""
            android:launchMode="singleTop">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.MainActivity" />

        </activity>

        <activity
            android:name=".feature.multi.play.MultiPlayActivity"
            android:label="@string/title_multi_play"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.MainActivity" />
        </activity>

        <activity
            android:name=".feature.multi.play.MultiPlayWithAIActivity"
            android:label="@string/title_multi_play"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.MainActivity" />
        </activity>

        <activity
            android:name=".feature.challenge.play.ChallengePlayActivity"
            android:label="@string/title_challenge"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.MainActivity" />
        </activity>

        <activity
            android:name=".feature.profile.ProfileUpdateActivity"
            android:label="@string/profile_update_title"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".feature.MainActivity" />

        </activity>

        <service
            android:name=".core.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>